<div class="btn-group d-flex justify-content-center" role="group" aria-label="Default button group">
  <a type="button" class="btn btn-outline-primary" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
  <a type="button" class="btn btn-outline-primary" routerLink="customers" routerLinkActive="active">Customers</a>
  <a type="button" class="btn btn-outline-primary" routerLink="products" routerLinkActive="active">Products</a>
  <a type="button" class="btn btn-outline-primary" routerLink="orders" routerLinkActive="active">Orders</a>
</div>
