<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">#</th>
                <th class="th-sm" (click)="sort('name')">Name <i class="fa fa-sort"></i></th>
                <th class="th-sm" (click)="sort('price')">Price ($) <i class="fa fa-sort"></i></th>
                <th class="th-sm" (click)="sort('stock')">Stock <i class="fa fa-sort"></i></th>
                <th class="th-sm" (click)="sort('createDateTime')">Created Date <i class="fa fa-sort"></i></th>
                <th class="th-sm" (click)="sort('updatedDateTime')">Updated Date <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td>{{convertDateTime(product.createDateTime)}}</td>
            <td>{{convertDateTime(product.updatedDateTime)}}</td>
            <td><button class="btn btn-outline-danger" (click)="deleteFromList(i)">delete</button></td>
            <td><button class="btn btn-outline-primary" (click)="updateFromList(i)">update</button></td>
        </tr>
    </tbody>
    <div class="card-footer pb-0 pt-3">
    </div>
</table>